@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    /* HTML: <div class="loader"></div> */
.loader {
    width: 15px;
    aspect-ratio: 1;
    margin: auto;
    border-radius: 50%;
    clip-path: inset(-45px);
    box-shadow: -60px 15px,-60px 15px,-60px 15px;
    transform: translateY(-15px);
    animation: l19 1s infinite linear;
  }
  @keyframes l19{ 
    16.67% {box-shadow:-60px 15px,-60px 15px,19px 15px}
    33.33% {box-shadow:-60px 15px,  0px 15px,19px 15px}
    40%,60%{box-shadow:-19px 15px,  0px 15px,19px 15px}
    66.67% {box-shadow:-19px 15px,  0px 15px,60px 15px}
    83.33% {box-shadow:-19px 15px, 60px 15px,60px 15px}
    100%   {box-shadow: 60px 15px, 60px 15px,60px 15px}
  }

  .triangle-up{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgb(96 165 250);
  }
}